.BuildControl {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px 0;
    font-weight: bold;
}

.BuildControl button {
    display: block;
    font: inherit;
    padding: 5px;
    margin: 0 5px;
    width: 80px;
    border: 1px solid transparent;
    cursor: pointer; 
    outline: none;
}

.BuildControl button:disabled {
    background-color: #19161C;
    border: 1px solid transparent;
    color: #322c38;
    cursor: default;
}

.BuildControl button:hover:disabled {
    background-color: #19161C;
    color: #322c38;
    cursor: not-allowed;
}

.Label {
    padding: 10px;
    font-weight: bold;
    width: 80px;
}

.BuildControl .Less {  
    background-color: #d1921e;
    color: white;
}

.BuildControl .More {
    background-color: #ECB821;
    color: white;
}

.BuildControl .Less:hover, .BuildControl .Less:active {  
    background-color: #ECB821;
    color: white;
}

.BuildControl .More:hover,.BuildControl .More:active {
    background-color: #d1921e;
    color: white;
}